<?xml version="1.0" ?>
<model>
    <name>teo_root</name>
    <version>1.0</version>
    <sdf version="1.7">root.sdf</sdf>
    <author>
        <name>Robotics Lab at UC3M</name>
        <email></email>
    </author>
    <description>Model for the root links of TEO humanoid robot.</description>
</model>
