<?xml version="1.0" ?>
<model>
    <name>TEO_stump_fixed</name>
    <version>1.0</version>
    <sdf version="1.6">teo_stump_fixed.sdf</sdf>
    <author>
        <name>Robotics Lab at UC3M</name>
        <email></email>
    </author>
    <description>Model for the TEO humanoid robot with stumps (fixed to the ground).</description>
</model>
