<?xml version="1.0" ?>
<model>
    <name>teo_stump</name>
    <version>1.0</version>
    <sdf version="1.6">stump.sdf</sdf>
    <author>
        <name>Robotics Lab at UC3M</name>
        <email></email>
    </author>
    <description>Model for the stump used in TEO humanoid robot.</description>
</model>
